@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;1,9..40,400&display=swap');

@layer base {
  *, *::before, *::after {
    box-sizing: border-box;
  }

  html {
    font-family: 'DM Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply bg-slate-50 text-slate-900;
  }
}

@layer utilities {
  .tabular-nums {
    font-variant-numeric: tabular-nums;
  }

  .scrollbar-thin::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    @apply bg-slate-100;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    @apply bg-slate-300 rounded-full;
  }
}